<div *ngIf="person | async as p; else loading">
	<app-header title="Person Detail"></app-header>
	<div class="person-detail">
		<h2>
      Name:	{{ p.name | uppercase }}
		</h2>
		<mat-list class="person-detail-list">
			<mat-list-item class="list-item-detail"> Eye Color: {{ p.eye_color }} </mat-list-item>
			<mat-list-item class="list-item-detail"> Hair Color: {{ p.hair_color }} </mat-list-item>
			<mat-list-item class="list-item-detail"> Skin Color: {{ p.skin_color }} </mat-list-item>
			<mat-list-item class="list-item-detail"> Height: {{ p.height }} </mat-list-item>
			<mat-list-item class="list-item-detail"> Mass: {{ p.mass }} </mat-list-item>
			<mat-list-item class="list-item-detail"> Birth Year: {{ p.birth_year }} </mat-list-item>
		</mat-list>
	</div>
</div>

<ng-container>
	<ng-template #loading>
		Loading...
	</ng-template>
</ng-container>
