<app-header title="Planets"></app-header>
<mat-list *ngIf="planets | async; else loading" role="people-list">
  <mat-list-item *ngFor="let planet of planets | async; let i=index, let isLast=last"
                 class="list-item"
                 role="list-item">
    <img matListAvatar src="" alt="..." class="planet-avatar">
		<a [routerLink]="[i+1]">
      {{ planet.name }}
    </a>
		<mat-divider [inset]="true" *ngIf="!isLast"></mat-divider>
	</mat-list-item>
</mat-list>

<ng-container>
  <ng-template #loading>
    Loading...
  </ng-template>
</ng-container>
