<app-header title="Movies"></app-header>
<mat-list *ngIf="movies | async; else loading" role="movie-list">
  <mat-list-item *ngFor="let movie of movies | async; let i=index, let isLast=last"
                 class="list-item"
                 role="list-item">
    <img matListAvatar src="" alt="..." class="movie-avatar">
		<a [routerLink]="[i+1]">
      {{ movie.title }}
    </a>
		<mat-divider [inset]="true" *ngIf="!isLast"></mat-divider>
	</mat-list-item>
</mat-list>

<ng-container>
  <ng-template #loading>
    Loading...
  </ng-template>
</ng-container>
