<app-header title="Star Wars Explorer"></app-header>
<div class="buttons">
<button class="btn"
        mat-raised-button
        [disableRipple]="true"
        (click)="goToPeople()"
        color="primary">PEOPLE</button>

<button class="btn"
        mat-raised-button
        [disableRipple]="true"
        (click)="goToMovies()"
        color="primary">MOVIES</button>

<button class="btn"
        mat-raised-button
        [disableRipple]="true"
        (click)="goToPlanets()"
        color="primary">PLANETS</button>
</div>

