<div *ngIf="planet | async as p; else loading">
	<app-header title="Planet Detail"></app-header>
	<div class="planet-detail">
		<h2>
      Name:	{{ p.name | uppercase }}
		</h2>
		<mat-list class="person-detail-list">
			<mat-list-item class="list-item"> Climate: {{ p.climate }} </mat-list-item>
			<mat-list-item class="list-item"> Terrain: {{ p.terrain }} </mat-list-item>
			<mat-list-item class="list-item"> Diameter: {{ p.diameter }} </mat-list-item>
			<mat-list-item class="list-item"> Gravity: {{ p.gravity }} </mat-list-item>
			<mat-list-item class="list-item"> Orbital Period: {{ p.orbital_period }} </mat-list-item>
			<mat-list-item class="list-item"> Population: {{ p.population }} </mat-list-item>
		</mat-list>
	</div>
</div>

<ng-container>
	<ng-template #loading>
		Loading...
	</ng-template>
</ng-container>
